{% extends 'index.html' %}


{% block content %}



<body>


	<section>

	<div id = "map" style = "height: 200px;align-self: stretch;"></div>

	<!-- send map to this triagnle -->

	
	<div style="text-align: center">
	<div id="props">
	<span id = "p1"></span>
	<div></div>
	<span id = "p2"></span>
	<div></div>
	<span id = "p3"></span>
	</div>
</div>	






<p>

	Edited by <a href="https://www.instagram.com/maddie100000000/">Ben Macintosh</a> (quietest/ anti-pragmatist) and <a href="https://twitter.com/fields_unsown">Hector Ramage</a> (modal realist).

	<div id="end"></div>

	</section>



<div id = "pn" style="float: right;"></div>













<!-- SET SOME THINGS FOR THE ARTICLE -->


<script src="{{ url_for('static', filename='props.js') }}">
</script>

<script src="{{ url_for('static', filename='mapcode.js') }}"></script>

<script>


var nextUrl = window.location.href;
var lastIndex = nextUrl.lastIndexOf("/");
console.log(lastIndex)
var number = parseInt(nextUrl.slice(lastIndex+1,-5));
var theseProps = props[number-1];
console.log(number)



var pageNumber = String(1700-number)+"/1700";
document.getElementById("pn").innerHTML = pageNumber;
document.getElementById("p1").innerHTML = theseProps[0];
if(theseProps.length>3){
	document.getElementById("p2").innerHTML = theseProps[2];
}
if(theseProps.length>5){
	document.getElementById("p3").innerHTML = theseProps[4];
}
document.getElementById("end").innerHTML = theseProps[theseProps.length-1];






// and chagne bounds

console.log(theseProps)


console.log('map inside articel')
console.log(map)

var bounds = new google.maps.LatLngBounds();
console.log(bounds)

bounds.extend(theseProps[1]);

if(theseProps.length>3){
	bounds.extend(theseProps[3]);
}
if(theseProps.length>5){
	bounds.extend(theseProps[5]);
}

map.fitBounds(bounds);
console.log(map)
map.panToBounds(bounds);	



</script>








</body>



{% endblock %}