{% extends 'index.html' %}


{% block content %}



<body>


	<section>

	<div id = "map" style = "height: 200px;align-self: stretch;"></div>

	<!-- send map to this triagnle -->

	
	<div style="text-align: center">
	<div id="props">
	<span id = "p1"></span>
	<div></div>
	<span id = "p2"></span>
	<div></div>
	<span id = "p3"></span>
	</div>
</div>	

<img src="{{ url_for('static', filename='Dunce_hat.png')}}"></img><br>





What profits were made under conditions we now consider immoral?

ie reparatiosn fro black epople
and evne after emancipation they were foudn with no money of htier own
blacks retunring from ww2 and placed in wrose aprtments than whites
coutnries that profitted from oil reserves ie norways fund
but now boganville in poverty but could start a state with new toxic mines, but now we consider them to be immoral

women who have not been able to be preists




All government contribute to a morality fund 

how decide hwo much contribute, for potential immoralites we are commiting now ie when have amximal moral ambivelnece or when minimal ie nazis had certainty in mroality

and spend it

even incorrect spendnig can be undone by future

spend it on what we consider the victims
but is boganville a victim becuae it wasnt able to start a mine?
that is like saying america is a victim because it didnt continue with slavery for another 40 years and make the profits ti could have
and what is the arguemtn
or we rewarding them for being mroal
but is just moral luck
has to be realtive to the top, have to frame realtive to immoralities that were commited not that werent


and
but where do you start
and where do yo udraw the line
if all american wealth really wouldnt exist wihtout the annexation of native lands, then is all our moeny alreayd evil?




proposition
In 1766, at the height of the debate about slavery, Ignatius Sancho wrote to Laurence Sterne[26] encouraging the writer to use his pen to lobby for the abolition of the slave trade.[27] "That subject, handled in your striking manner, would ease the yoke (perhaps) of many—but if only one—Gracious God!—what a feast to a benevolent heart!" he wrote.
https://www.youtube.com/watch?v=ICiQF8YZmSg
and bayrd rustin
https://www.youtube.com/watch?v=3S2Wp2rYW9M

morality fund proposal








	</section>




<div id = "pn" style="float: right;"></div>

<script src="{{ url_for('static', filename='props.js') }}">
</script>

<script src="{{ url_for('static', filename='mapcode.js') }}"></script>


<script>

var nextUrl = window.location.href;
var lastIndex = nextUrl.lastIndexOf("/");
console.log(lastIndex)
var number = parseInt(nextUrl.slice(lastIndex+1,-5));

var theseProps = props[number-1];
console.log('thesePropsinarticlene2w')
console.log(number)
console.log(theseProps)

console.log("maeep")
console.log(map)


var pageNumber = String(1700-number)+"/1700";
document.getElementById("pn").innerHTML = pageNumber;
document.getElementById("p1").innerHTML = theseProps[0];
if(theseProps.length>3){
	document.getElementById("p2").innerHTML = theseProps[2];
}
if(theseProps.length>5){
	document.getElementById("p3").innerHTML = theseProps[4];
}
document.getElementById("end").innerHTML = theseProps[theseProps.length-1];

var articleProp = theseProps;

// var bounds = new google.maps.LatLngBounds();
// bounds.extend(theseProps[1]);
// bounds.extend(theseProps[3]);
// bounds.extend(theseProps[5]);
// map.fitBounds(bounds);
// map.panToBounds(bounds);	

</script>








</body>



{% endblock %}