{% extends 'index.html' %}


{% block content %}


<script src="{{ url_for('static', filename='mapcode.js') }}">
	console.log('index map')
</script>

<body>


	<section>

	<div id = "map" style = "height: 200px;align-self: stretch;"></div>

	<!-- send map to this triagnle -->

	
	<div style="text-align: center">
	<div id="props">
	<span id = "p1"></span>
	<div></div>
	<span id = "p2"></span>
	<div></div>
	<span id = "p3"></span>
	</div>
</div>	

<img src="{{ url_for('static', filename='Dunce_hat.png')}}"></img><br>





What profits were made under conditions we now consider immoral? <br>

The obvious example is slavery. After emancipation blacks found themselves free yet with no property of their own. African Americans returning from WW2 were given housing with much lower value than those given to whites. 

ie reparatiosn fro black epople
and evne after emancipation they were foudn with no money of htier own
African Americans retunring from ww2 were given housing sorth much less than those given to whites.
coutnries that profitted from oil reserves ie norways fund
but now boganville in poverty but could start a state with new toxic mines, but now we consider them to be immoral
oil fund 19990

women who have not been able to be preists


These have brought forth calls for reparations (https://uncpress.org/book/9781469654973/from-here-to-equality/)
and climate debt.




Governments could contribute and withdraw from a 'morality fund' as a means to neutralise the explotion cause by a 'time-localised' morality.


how decide hwo much contribute, for potential immoralites we are commiting now ie when have amximal moral ambivelnece or when minimal ie nazis had certainty in mroality

how much alreayd spent?
thought millions died in nrth also


and spend it

even incorrect spendnig can be undone by future

spend it on what we consider the victims
but is boganville a victim becuae it wasnt able to start a mine?
that is like saying america is a victim because it didnt continue with slavery for another 40 years and make the profits ti could have
and what is the arguemtn
or we rewarding them for being mroal
but is just moral luck
has to be realtive to the top, have to frame realtive to immoralities that were commited not that werent


and
but where do you start
and where do yo udraw the line
if all american wealth really wouldnt exist wihtout the annexation of native lands, then is all our moeny alreayd evil?




proposition
In 1766, at the height of the debate about slavery, Ignatius Sancho wrote to Laurence Sterne[26] encouraging the writer to use his pen to lobby for the abolition of the slave trade.[27] "That subject, handled in your striking manner, would ease the yoke (perhaps) of many—but if only one—Gracious God!—what a feast to a benevolent heart!" he wrote.
https://www.youtube.com/watch?v=ICiQF8YZmSg
and bayrd rustin
https://www.youtube.com/watch?v=3S2Wp2rYW9M

morality fund proposal








	</section>




<div id = "pn" style="float: right;"></div>

<script src="{{ url_for('static', filename='props.js') }}">
</script>



<script>

var nextUrl = window.location.href;
var lastIndex = nextUrl.lastIndexOf("/");
console.log(lastIndex)
var number = parseInt(nextUrl.slice(lastIndex+1,-5));

var theseProps = props[number-1];
console.log('thesePropsinarticlene2w')
console.log(number)
console.log(theseProps)

var articleProp = theseProps;




var pageNumber = String(1700-number)+"/1700";
document.getElementById("pn").innerHTML = pageNumber;
document.getElementById("p1").innerHTML = theseProps[0];
if(theseProps.length>3){
	document.getElementById("p2").innerHTML = theseProps[2];
}
if(theseProps.length>5){
	document.getElementById("p3").innerHTML = theseProps[4];
}
document.getElementById("end").innerHTML = theseProps[theseProps.length-1];

// var bounds = new google.maps.LatLngBounds();
// bounds.extend(theseProps[1]);
// bounds.extend(theseProps[3]);
// bounds.extend(theseProps[5]);
// map.fitBounds(bounds);
// map.panToBounds(bounds);	

</script>








</body>



{% endblock %}