{% extends 'index.html' %}


{% block content %}


<script src="{{ url_for('static', filename='mapcode.js') }}">
	console.log('index map')
</script>

<body>
	<section>

	<div id = "map" style = "height: 200px;align-self: stretch;"></div>

	<!-- send map to this triagnle -->

	
	<div style="text-align: center">
	<div id="props">
	<span id = "p1"></span>
	<div></div>
	<span id = "p2"></span>
	<div></div>
	<span id = "p3"></span>
	</div>
</div>	





<p>
in the past month I rebuilt a street near my house, in my head

</p>
<p>
	most days I cycled past slowly. I met it's family of turned posts, front doors, architraves, bargeboards, window aprons, flyscreens..
	</p>
<p>
	when I talk to you on the phone, let's check that we are facing each other, so if we walk straight we would meet
</p>

<p>
	where does this street face?
</p>

<p>
	let's fold my street straight through to yours:
</p>

<p>
	along the way, building parts stop when they meet and fit with another place perfectly
</p>

<p>
	let's keeping going past our streets and fold through the world
</p>

<p>
	all the skyscrapers are together happily, so their windows can be doors between them
</p>

<p>
	little cottages sit inside mansions
</p>

<p>
	plains of freeways lie side by side
</p>

<p>
	a confederacy of brick verandahs and weatherboard walls back to back
</p>

<p>
	office foyers are brightly packed with street lights..
</p>

<p>
	we just have to pick the best line to fold through
	</p>

<p>
	and keep in mind what might be left over

	<br>
	<br>
	(Featured on <a href="https://www.instagram.com/p/CEbNEA0hPEY/">Sent Folder</a> August 2020)
</p>



<div id="end"></div>
</section>


<div id = "pn" style="float: right;"></div>





<script src="{{ url_for('static', filename='props.js') }}">
</script>


<script>

var nextUrl = window.location.href;
var lastIndex = nextUrl.lastIndexOf("/");
console.log(lastIndex)
var number = parseInt(nextUrl.slice(lastIndex+1,-5));

var theseProps = props[number-1];
console.log('thesePropsinarticlene2w')
console.log(number)
console.log(theseProps)

var articleProp = theseProps;




var pageNumber = String(1700-number)+"/1700";
document.getElementById("pn").innerHTML = pageNumber;
document.getElementById("p1").innerHTML = theseProps[0];
if(theseProps.length>3){
	document.getElementById("p2").innerHTML = theseProps[2];
}
if(theseProps.length>5){
	document.getElementById("p3").innerHTML = theseProps[4];
}
document.getElementById("end").innerHTML = theseProps[theseProps.length-1];


// var bounds = new google.maps.LatLngBounds();
// bounds.extend(theseProps[1]);
// bounds.extend(theseProps[3]);
// bounds.extend(theseProps[5]);
// map.fitBounds(bounds);
// map.panToBounds(bounds);	

</script>

</body>



{% endblock %}