<!doctype html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel="stylesheet" href="static/general.css">


<script src="{{ url_for('static', filename='props.js') }}">
		console.log('index props')
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaNyRz5BSZ3sfKiPUDuYStmZCxQjt14qo&callback=initMap"></script>

<script src="{{ url_for('static', filename='mapcode.js') }}"></script>






<head>
	<title>free_rev</title>
</head>

<div class="header">
	  <img src="static/logo.png" height="100"></img>
  <h1>The <a href="{{ url_for('why.free')}}">Free</a> Review of Propositions</h1>
</div>








<script>
	console.log('index scripts running')
	console.log('test')

	var favicon = document.querySelector('link[rel="shortcut icon"]');

	if(!favicon){
		favicon = document.createElement('link');
		favicon.setAttribute('rel', "shortcut icon");
		var head = document.querySelector('head');
		head.appendChild(favicon)
	}

	favicon.setAttribute('type','image/png');
	var nextUrl = window.location.href;
	var lastIndex = nextUrl.lastIndexOf("/");
	var righthome = nextUrl.slice(0,lastIndex);
	favicon.setAttribute('href',righthome+"/static/favicon.ico");

	if (nextUrl.charAt(nextUrl.length-1) !== "l"){
		console.log("not rticle");
		console.log(righthome)
		console.log('length..')
		console.log(righthome+"/"+props.length+".html")
		window.location.href = righthome+"/"+props.length+".html";
	}

	// console.log('propslength')
	// console.log(props.length)
</script>




<!-- <link rel="shortcut icon" type="image/x-icon" href= "window.location + static/favicon.ico")/>
 -->




{% block content %}{% endblock %}